.HeaderSection {
  width: 100%;
  min-height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderSection-container h2 {
  font-family: 'Shippori Mincho', serif;
  font-size: 3rem;
}
