.HeaderSection {
  width: 100%;
  min-height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderSection-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeaderSection-container h2 {
  font-family: 'Shippori Mincho', serif;
  font-size: 3rem;
}

.HeaderSection-container-left img {
  width: 100%;
}
